.App {
  background-color: #f1dede;
  margin: 0 auto;
  max-width: 960px;
}

.App-header {
  margin: 30px 0;
  background-color: #f1dede;
  color: #fff;
  padding-top: 50px;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 30px 0;
  padding-bottom: 30px;
}

@media (max-width: 960px) {
  .App-header h1 {
    font-size: 50px;
    padding-top: 40px;
    margin:0 auto;
  }
}