.Dictionary {
    max-width: 400;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #f1dede;
    text-align: center;
}

.Dictionary h1 {
    background-color: #f1dede;
    text-align: center;
}

.Dictionary form {
    display: block;
    text-align: center;
    display: block;
    padding-bottom: 10px;
}

.Dictionary input {
    width:40%;
    padding: 6px 4px;
    border-radius: 6px;
    border: 2px solid #fff;
    box-shadow:0px 5px 15px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
}

.Dictionary .Hint {
    font-size: 15px;
    text-align: center;

}
.Dictionary section {
    background-color: #d496a7;
    border: 6px outset #d496a7;
    border-radius: 35px;
    margin: 20px 0;
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.Synonyms {
    list-style: none;
    font-weight: lighter;
}
.Antonyms {
    list-style: none;
    font-weight: lighter;
}