.Dictionary {
    max-width: 400;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #f1dede;
    text-align: center;
}

.Dictionary header {
    background-color: #f1dede;
}

.Dictionary section {
    background-color: #d496a7;
    border: 6px outset #d496a7;
    border-radius: 35px;
    margin: 20px 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    list-style: none;
    font-size: 20px;
    
    
}

